h1 {
    position: relative;
    left: 15em;
    top: 3em;
}

body {
    overflow-x: hidden; 
}

.snip {
box-shadow: 0.75em 0.5em 0.7em #aaaaaa;
position: relative;
width: 198px;
height: auto;
left: 30em;
top: 5em;
background: #E4E4E4;
border: 1.25px solid #000000;
box-sizing: border-box;
border-radius: 15px;
display: inline-block;
padding-top: 2em;
color: black;
text-align: center;
height: auto;
overflow: visible;
margin-right: 2em;
margin-top: 2em;
}

.dot {
position: relative;
width: 30px;
height: 30px;
left: 180px;
top: -3em;
background: red;
border: 1.25px solid red;
box-sizing: border-box;
border-radius: 16px;
}

.desc {
    display: none;
    margin-bottom: 1em;
    color: black;
}

.medal {
    cursor: pointer;
    font-size: 8em;
    color: black;
}

.snip hr {
    margin-top: 1em;
    width: 70%;
    height: 0.10em;
    background-color: black;
}


.medalTitle {
    cursor: pointer;
    font-weight: 700;
    color: black;
}
