footer {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  left: 0em;
  bottom: -40em; /* To make the footer a bit below the actual body of the text to be inserted */
  width: 100%;
  background-color: #2C365E;
  color: white;
  border: 0.1em solid #2C365E;
  border-radius: 1em 1em 0em 0em;
}

body {
  overflow-x: hidden; /* Reason why there is no scroll bar for the footer */
}

footer #gap {
    margin-top: 6em;
}

footer h2 {
  font-weight: 700;
}

footer .footer__block {
  text-align: center;
  margin: 0em 5em;
  float: left;
}

footer .vl {
  position: relative;
  float: left;
  border-left: 0.1em solid white;
  top: 3em;
  height: 30em;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer a, span{
  font-size: 1.1em;
  text-decoration: none;
  font-weight: 400;
  color: white;
}

footer input[type=text], input[type=email], textarea{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  padding: 0.5em 0.5em;
  margin: 0.25
  em 0.25em;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


input[type=text].large, input[type=email].large {
    width: 21.25em;
}

input[type=text].rounded, input[type=email].rounded, textarea {
  border-radius: 0.3125em;
}

input[type=text]:hover, input[type=email]:hover, textarea:hover {
  border: 0.2em solid lightblue;
}

input[type=text].rounded.pill, input[type=email].rounded.pill {
  border-radius: 1em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline:none;
    border: 0.2em solid blue !important;
}

div.comboBtn {
  position: relative;
  right: 0.5em;
}

div .clearText {
    display: inline;
    color:white;
    cursor: grab;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85em; 
    text-decoration: underline;
    position: relative;
    left: 45%;
}

#helper {
    padding-top: 1em;
}

footer img {
    margin-top: 3em;
}

footer #controlBoxTa {
  resize: none;
}

#btn {
  position: relative;
  top: -2em;
}